<!DOCTYPE html>
<!--
    Vorname:
    Nachname:
    Klasse: T4A
-->
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
</head>

<body>
    <div id="pokemon-app" class="container bg-success p-2">
        <!-- Header -->
        <h1 class="bg-light rounded m-2 p-2">Pokemon</h1>

        <!-- Statistik -->
        <div v-if="display.statistik" class="bg-light rounded m-2 p-2">
            <h2>Statistik</h2>
            <p>Anzahl der Pokemons: {{ anzahlPokemons }}</p>
            <p>Anzahl der männlichen Pokemons: {{ anzahlMaennlich }}</p>
            <p>Anzahl der weiblichen Pokemons: {{ anzahlWeiblich }} ({{ anteilWeiblichProzent }}%)</p>
            <p>Anzahl der diversen Pokemons: {{ anzahlDivers }}</p>
        </div>

        <!-- Liste aller Pokemons -->
        <div v-if="display.liste" class="bg-light rounded m-2 p-2">
            <h2>Liste aller Pokemons</h2>
            <ul class="list-group m-2">
            <li v-for="pokemon in pokemonList" :key="pokemon.id" class="list-group-item d-flex justify-content-between">
                <span>
                    <strong>{{ pokemon.name }}</strong>:                    
                    {{ pokemon.typ }} ({{ pokemon.gender }}), Attacken: {{ attackenliste(pokemon) }}
                </span>
                <span>
                <button @click="buttonUpdate(pokemon.id)" class="btn btn-secondary mr-2">update</button>
                <button @click="buttonLoeschen(pokemon.id)" class="btn btn-danger">-</button></span>
            </li>
            <!-- Button Neu-->
            <li class="list-group-item"><button @click="buttonNew" class="btn btn-block btn-success">+</button></li>
           </ul>
        </div>

        <!-- Formular neues Pokemon -->
        <div v-if="display.formNew" class="bg-light rounded m-2 p-2">
            <h2>Neues Pokemon eintragen</h2>
            <div class="form-group bg-light rounded m-2 p-2">
                <h3>Name</h3>
                <input v-model="newPokemon.name" class="form-control" type="text">
            </div>

            <div class="form-group bg-light rounded m-2 p-2">
            <h3>Typ</h3>            
            <select v-model="newPokemon.typ" id="selectTyp" class="form-control">
                <option>Feuer</option>
                <option>Normal</option>
                <option>Wasser</option>
                <option>Elektro</option>
                <option>Pflanze</option>
                <option>Eis</option>
            </select>            
            </div>

            <div class="form-group bg-light rounded m-2 p-2">
            <h3>Geschlecht</h3>
            <div class="form-check form-check-inline">
                <input v-model="newPokemon.gender" class="form-check-input" type="radio" name="radioGender" id="radioGenderM" 
                    value="m">
                <label class="form-check-label" for="radioGenderM">m</label>
            </div>
            <div class="form-check form-check-inline">
                <input v-model="newPokemon.gender" class="form-check-input" type="radio" name="radioGender" id="radioGenderW" 
                    value="w">
                <label class="form-check-label" for="radioGenderW">w</label>
            </div>
            <div class="form-check form-check-inline">
                <input v-model="newPokemon.gender" class="form-check-input" type="radio" name="radioGender" id="radioGenderD" 
                    value="d">
                <label for="radioGenderD" class="form-check-label" >d</label>
            </div>
            </div>

            <div class="form-group bg-light rounded m-2 p-2">
            <h3>Attacken</h3>
            <div class="form-check">
                <input v-model="newPokemon.donnerblitz" class="form-check-input" type="checkbox" id="checkDonnerblitz">
                <label for="checkDonnerblitz" class="form-check-label" >
                    Donnerblitz
                </label>
            </div>
            <div class="form-check">
                <input v-model="newPokemon.voltoball" class="form-check-input" type="checkbox" id="checkVoltoball">
                <label class="form-check-label" for="checkVoltoball">
                    Voltoball
                </label>
            </div>
            <div class="form-check">
                <input v-model="newPokemon.surfer" class="form-check-input" type="checkbox" id="checkSurfer">
                <label class="form-check-label" for="checkSurfer">
                    Surfer
                </label>
            </div>
        </div>

        <div class="m-2">
            <button @click="buttonHinzufuegen" class="btn btn-block btn-primary">Hinzufügen</button>
        </div>
        </div>

        <!-- Formular update Pokemon -->
        <div v-if="display.formUpdate" class="bg-light rounded m-2 p-2">
            <h2>Vorhandenes Pokemon ändern</h2>
            <div class="form-group bg-light rounded m-2 p-2">
                <h3>Name</h3>
                <input v-model="updatePokemon.name" class="form-control" type="text">
            </div>

            <div class="form-group bg-light rounded m-2 p-2">
                <h3>Typ</h3>
                <select v-model="updatePokemon.typ" class="form-control" id="selectTyp">
                    <option>Feuer</option>
                    <option>Normal</option>
                    <option>Wasser</option>
                    <option>Elektro</option>
                    <option>Pflanze</option>
                    <option>Eis</option>
                </select>            
            </div>

            <div class="form-group bg-light rounded m-2 p-2">
                <h3>Geschlecht</h3>
                <div class="form-check form-check-inline">
                    <input v-model="updatePokemon.gender" class="form-check-input" type="radio" name="radioGender" id="radioGenderM" 
                        value="m">
                    <label for="radioGenderM" class="form-check-label">m</label>
                </div>
                <div class="form-check form-check-inline">
                    <input v-model="updatePokemon.gender" class="form-check-input" type="radio" name="radioGender" id="radioGenderW" 
                        value="w">
                    <label for="radioGenderW" class="form-check-label">w</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioGender" id="radioGenderD" v-model="updatePokemon.gender"
                        value="d">
                    <label for="radioGenderD" class="form-check-label">d</label>
                </div>
            </div>

            <div class="form-group bg-light rounded m-2 p-2">
                <h3>Attacken</h3>
                <div class="form-check">
                    <input v-model="updatePokemon.donnerblitz" class="form-check-input" type="checkbox" id="checkDonnerblitz">
                    <label for="checkDonnerblitz" class="form-check-label">
                        Donnerblitz
                    </label>
                </div>
                <div class="form-check">
                    <input v-model="updatePokemon.voltoball" class="form-check-input" type="checkbox" id="checkVoltoball">
                    <label for="checkVoltoball" class="form-check-label">
                        Voltoball
                    </label>
                </div>
                <div class="form-check">
                    <input v-model="updatePokemon.surfer" class="form-check-input" type="checkbox" id="checkSurfer">
                    <label for="checkSurfer" class="form-check-label">
                        Surfer
                    </label>
                </div>
            </div>

            <div class="d-flex justify-content-end m-2">
                <button @click="buttonCancel" class="btn btn-warning mr-2">Abbrechen</button>
                <button @click="buttonAenderungenSpeichern(updatePokemon.id)" class="btn btn-primary">Änderungen speichern</button>
            </div>
        </div>
    </div>    
    <script src="lib/vue-3-0-5.js"></script>
    <script src="app.js"></script>
</body>

</html>